*{
    box-sizing: border-box;
    margin: 0;
}
.error{
    display: flex;
    justify-content: center;
}

.index_header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(49, 55, 155);
  height: 100px;
  
}
.index_section{
    background-image: url("../img/index_section.jpg");
    color: white;
    height: 621px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_h2{
    text-shadow: 0 0 5px white;
    font-size: 50px;
}
.login-overlay,.register-overlay,.patch-message-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0,0.5);
    left: 25%;
    top: 200px;
    height: 500px;
    width: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
.lobby{
    display: none;
}
h4,a{
    color: black;
}
a:hover{
    color: white;
}

/* lobby */


.lobby_header{
    display: flex;
  justify-content: center;
  background-color: rgb(49, 55, 155);
  height: 100px;
}

.lobby-section{
    background-image: url("../img/index_section.jpg");
    height: 621px;
    
}
.left-side p{
    color: white;
}
.both-side{
    display: flex;

}

.right-side p {
    color: white;
}

.right-side{
    position: relative;
    width: 80%;
    height: 621px;
    background-color: rgba(0, 0, 0,0.5);
}
.left-side{
    width: 20%;
    height: 621px;
    background-color: rgba(255, 255, 255,0.1);
}

.message{
    width: 500px;
    height: 50px;
    background-color: rgba(178, 170, 170,0.5);
    margin:10px 0 10px 10px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}
.message >i{
   align-self: flex-end;
   margin-right: 10px;
}
.message >p{
    align-self: center;
    margin-left: 10px;
}
.input{
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.input-message{
   height: 50px;
   width: 300px;
   border-radius: 10px;
   outline: none;
   background-color: transparent;
   border: 1px solid blue;
   color: wheat;
}

.send{
    position: relative;
    bottom: -15px;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    display: inline-block;
    border-left: 20px solid rgb(2, 39, 173);
}

.left-side>.admin{
    background-color: green;
    margin: 10px 0 10px 0;
    height: 50px;
}
.left-side>.not-admin{
    background-color: gray;
    margin: 10px 0 10px 0;
    height: 50px;

}

.users-displayed{
   background-color: rgba(9, 9, 9,0.5);
   height: auto;
   width: 100px;
   position: absolute;
   right: 10px;
   top: 30px;
   color: white;
   display: none;
   border-radius: 10px;
   text-align: center;
}

.display-users-button{
   border-radius: 10px;
   position: absolute;
   right: 10px;
   top: 5px;
}

